body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
.button-social li {
  display: inline;
  list-style-type: none;
  margin: 0 10px;
}
.page-footer {
  padding-top: 0 !important;
  color:#1c95e5;
}

.slider {
  background-color: transparent;
  margin: 0;
  height: 260px !important;
}
.slides {
  background-color: transparent;
  margin: 0;
  height: 230px !important;
}

.slides li img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size:100% auto;
  background-repeat: no-repeat;
}

.bold{
  font-weight: bold;
}
